* {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  margin: 20px;
}

.forecast-buttons {
  text-align: center;
}

.no-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.has-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
