* {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  // flex-direction: row;
  // justify-content: space-between;
}

.title {
  margin: 20px;
}

.forecast-buttons {
  text-align: center;
}