.current-weather {
  text-align: center;
}

.left,
.right {
  display: inline-block;
  margin: 30px 0px;
  min-width: 238px;
  text-align: center;
  width: 40%;
}


.location {
  font-size: 26px;
  margin-bottom: 10px;
}

.temp {
  font-size: 80px;
  margin-top: 20px;
}

.high {
  margin-bottom: 10px;
}

.low {
  margin-bottom: 20px;
}

.right p {
  font-size: 24px;
}

.icon {
  margin: 30px;
  min-height: 175px;
}

@media screen and (max-width: 475px) {
  .left {
    margin-bottom: 0;
  }

  .icon {
    margin-top: 0;
  }
}