.search-bar {
  width: 150px;
}

.search {
  display: flex;
  padding: 20px;
}

.suggest {
  text-transform: uppercase;
}

input {
  outline: none;
}

button:hover {
  background-color: blue;
  color: white;
}