.search-bar {
  padding: 10px;
  width: 150px;
}

.search {
  position: absolute;
  right: 20px;
  top: 20px;
}

.suggest {
  text-transform: uppercase;
}

form {
  display: flex;
  padding: 20px;
}

input {
  outline: none;
}

button:hover {
  background-color: blue;
  color: white;
}